@import 'tailwindcss';
@import './fonts.css';

@theme {
  --breakpoint-sm: 35rem;
  --breakpoint-md: 42rem;
  --breakpoint-lg: 50rem;
  --breakpoint-xl: 68rem;
  --breakpoint-2xl: 72rem;

  --font-tenor: "tenor", sans-serif;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #e0ded9;
  border-radius: 3px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #a3b18a;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #e0ded9;
  border-radius: 3px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #a3b18a;
}